<template name="header">
  <div class="header">
    <h1>Relationboat</h1>
    <h5>Brave the Choppy Waters</h5>
    <img src="/img/noahsark.png" alt="the Ultimate Relationboat" class="title-img"> 
  </div>
</template>

<template name="footer">
  <div class="footer">
    Created @ HackPrinceton Fall 2015 by Ben Eisner, Frank Jiang, James Almeida, and Tony Jin. <br>
    Powered by Microsoft Project Oxford + Indico.
  </div>
</template>
 

<template name="friendlist">
   <h4>search for a friend</h4>
   <div class="row">
    <div class="six columns">
      <input class="u-full-width" placeholder="Johnny Appleseed" id="searchInput" type="name">
      <input class="button-primary" value="Search" id="searchSubmit" type="submit">
    </div>
    <div class="six columns"></div>
  </div>
  <br> <br>
  <h4>here is a list of friends</h4>
  <br>
  <div class="row">
   {{#each friends}}
    <div class="friend thirds">    
      <div class="friend-prof-pic"><img src={{pic}} alt=""></div>
      <div class="friend-name">{{name}}</div>
    </div>
    {{/each}}
  </div>
</template>


<template name="timeline">
   
   <div class="results">
     <h4>revel in your marvelous friendship with</h4> <br>
     <h4 id='chosen'></h4> <br>
     <h5 id="positivity"></h5> <br>
     <h5 id="userHappiness"></h5> <br>
     <h5 id="friendHappiness"></h5> <br>
     <br>
<!--     <button id="data">Get Data</button>-->
     {{#each emotions}}
        <div class="row">
          <div class="six columns">
            <img src={{image}} alt="" class="tagged-image">
          </div>
          <div class="six columns">
            <div class="user">You: <br>{{user.scores.happiness}}</div> <br>
            <div class="friend">Friend: <br> {{friend.scores.happiness}}</div> <br>
          </div>
        </div>
     {{/each}}
   </div>
</template>

<template name="login">
    {{#if currentUser}}
        <button id="logout">Logout</button>
        <br>
        <div class="parentNode">
            {{ > friendlist }}
        </div>                
    {{else}}
        <button id="facebook-login" class="btn btn-default">Login with Facebook</button>
    {{/if}}
</template>
