<template name="header">
  <header>
    <img src="" alt="">
    RelationBoat. Brave the Choppy Waters.
  </header>
</template>
 

<template name="home_NL">
  Hello there. What
  <br> <br>
  <a class="button button-primary" href="#">Sign in with FB</a>
</template>


<template name="home_L">
  Congrats. You have signed in.
</template>


<template name="timeline">
  Look at such a wonderful friendship
  <br> <br>
  
</template>

<template name="login">
    {{#if currentUser}}
        {{currentUser.services.facebook.name}} -
        {{currentUser.services.facebook.gender}} - 
        {{currentUser.services.facebook.accessToken}}
        <button id="logout">Logout</button>
    {{else}}
        <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>
    {{/if}}
</template>